body{
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la página */
    background-repeat: no-repeat;
    background-position: center center;
}

.bd_template1{
    background-image: url('landscape.jpg');
}

.bd_template2{
    background-image: url('landscape2.jpg');
}

.bd_template3{
    background-image: url('landscape3.jpg');
}

.bd_template4{
    background-image: url('landscape4.jpg');
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    text-decoration: underline;
    text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white; 
    color: black;
}

.maze{
    display: flex;
    justify-content: center;
    align-content: center;
}

.maze_HTMLtable{
    border: 3px solid black;
    border-collapse: collapse;
    display: flex;
}

.buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    gap: 40px;
}

button{
    background-color: #0476aa; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

button:hover{
    background-color: #1b3bcc;
}

#return-button{
    background-color: rgb(211, 108, 108);
}

#return-button:hover{
    background-color: rgb(236, 50, 50);
}

td{
    padding: 12px;
    font-size: 15px;
    font-family: system-ui;
    width: 30px;
    height: 15px;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    background-color: #82d9f4;
    font-weight: bold;
}
