<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze Pathfinder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'maze_pathfinding/style.css' %}">
    <link rel="icon" href="{% static 'maze_pathfinding/maze_icon.png' %}" type="image/png">
</head>
<body>
    <h1 class="title">Maze Pathfinder</h1>
    <div class="maze">
        <table id='1' class="maze_HTMLtable">
            {% for rows in maze %}
            <tr>
                {% for cell in rows %}
                <td id="{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                    {{ cell }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="buttons">
        <button style="margin-left: 20px;" id='botonMostrarSolucion' onclick="show_solution()">Solve</button>
    </div>
    <script>
        const solution_js = {{ solution }}
        const roads_js = {{ roads }}
        console.log(solution_js)
        console.log(roads_js)
        
        function show_solution(){
            const length_road_js = roads_js.length
            let counter = 0
            for (const position of roads_js){
                setTimeout(() => {
                    const cell = document.getElementById(position[0] + '_' + position[1])
                    cell.innerHTML = " | "
                }, counter * 500)
                counter+=1
            }
            setTimeout(() => {
                for(const position of solution_js){
                    const cell = document.getElementById(position[0] + '_' + position[1])
                    cell.style.color = "red"
                }
            }, (length_road_js * 500)+500)
        }
    </script>
</body>
</html>