<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze Pathfinder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'maze_pathfinding/style.css' %}">
    <link rel="icon" href="{% static 'maze_pathfinding/maze_icon.png' %}" type="image/png">
</head>
<body class={{ bd_template }}>
    <h1 class="title">Maze Pathfinder: {{ algorithm }}</h1>
    <div class="maze">
        <table id='1' class="maze_HTMLtable">
            {% for rows in maze %}
            <tr>
                {% for cell in rows %}
                    {% if cell == '#' %}
                    <td id="{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                        &#x1F333;
                    </td>
                    {% endif %}
                    {% if cell == 'O' %}
                    <td id="{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                        &#128512;
                    </td>
                    {% endif %}
                    {% if cell == 'X' %}
                    <td id="{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                        &#x1F3C1;
                    </td>
                    {% endif %}
                    {% if cell == ' ' %}
                    <td id="{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
                        {{ cell }}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="buttons">
        <button id='return-button' onclick="window.location.href='/maze_pathfinding/'">Return to Index</button>
        <button id='botonMostrarSolucion' onclick="show_solution()">Solve</button>
        <button onclick="window.location.href='{{ url_vista }}'">Refresh</button>
    </div>
    <script>
        const solution_js = {{ solution }}
        const roads_js = {{ roads }}
        
        function show_solution(){
            document.getElementById('botonMostrarSolucion').disabled = true
            const length_road_js = roads_js.length
            let counter = 0
            for (const position of roads_js){
                setTimeout(() => {
                    const cell = document.getElementById(position[0] + '_' + position[1])
                    cell.innerHTML = "&#x1F50E;"
                }, counter * 150)
                counter+=1
            }
            setTimeout(() => {
                for(const position of solution_js){
                    const cell = document.getElementById(position[0] + '_' + position[1])
                    cell.innerHTML = "&#x1F6B6;"
                }
            }, (length_road_js * 150)+150)
        }
    </script>
</body>
</html>